<%= form_with(model: colaborador) do |form| %>
  <% if colaborador.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(colaborador.errors.count, "erro") %> impediu este colaborador de ser salvo:</h2>
      <ul>
        <% colaborador.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :nome, class: 'form-label' %>
    <%= form.text_field :nome, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :setor, class: 'form-label' %>
    <%= form.text_field :setor, class: 'form-control' %>
  </div>

  <div class="actions mt-4">
    <%= form.submit "Salvar Colaborador", class: 'btn btn-primary' %>
  </div>
<% end %>