<h1>Lista de Notebooks</h1>

<table>
  <%= link_to "Cadastrar Novo Notebook", new_notebook_path %>
  <thead>
    <tr>
      <th>Identificação do Equipamento</th>
      <th>Número de Patrimônio</th>
      <th>Estado Atual</th>
      <th>Ações</th>
    </tr>
  </thead>
  <hr>
  <tbody>
    <% @notebooks.each do |notebook| %>
      <tr>
        <td><%= notebook.identificacao_equipamento %></td>
        <td><%= notebook.numero_patrimonio %></td>
        <td><%= notebook.estado %></td>
        <td>
          <%= link_to 'Ver Detalhes', notebook_path(notebook) %> |
          <%= link_to 'Editar', edit_notebook_path(notebook) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>