<h1>Realizar Empréstimo para: <%= @notebook.identificacao_equipamento %></h1>

<%= form_with(model: @emprestimo, url: notebook_emprestimos_path(@notebook)) do |form| %>

  <div class="field">
    <%# O dropdown para selecionar um colaborador existente %>
    <%= form.label :colaborador_id, "Colaborador" %><br>
    <%= form.collection_select :colaborador_id, Colaborador.order(:nome), :id, :nome, prompt: "Selecione um colaborador" %>
  </div>

  <div class="field">
    <%= form.label :data_emprestimo %><br>
    <%= form.date_field :data_emprestimo %>
  </div>

  <div class="actions">
    <%= form.submit "Confirmar Empréstimo" %>
  </div>
<% end %>
<%= link_to "Cancelar", @notebook %>